img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#grid {
  border: 5px solid pink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#flex {
  border: 5px solid pink;
  display: flex;
  flex-direction: column;
}


div{
  border: 5px pink solid;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 , a {
    border: 5px red solid;
    padding: 10px 20px 30px 40px;
    /* 한줄표기
    border-width: 5px; 
    border-color: red;
    border-style: solid;*/
    /* display: inline; */
    margin: 40px;
    width: 100px;


  }
